<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      <!-- Views -->
		
		<!-- Toolbar -->
     <extension id="toolbar.view"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Toolbar"/>
        <class value="view.protege.views.ToolbarView"/>
       	<headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>
    	<!-- Canvas -->
    <extension id="canvas.view"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Canvas"/>
        <class value="view.protege.views.CanvasView"/>
       	<headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>
    	<!-- Annotated Individuals -->
    <extension id="AnnotatedIndividuals.view"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Annotated Individuals"/>
        <class value="view.protege.views.AnnotatedIndividualsView"/>
       	<headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>
    
    <!--Tab -->
   	<extension id="ExampleWorkspaceTab2" point="org.protege.editor.core.application.WorkspaceTab">
		<label value="OnbaCoMo"/>
		<class value="view.protege.tab.Tab"/>
		<index value="Q"/>
		<editorKitId value="OWLEditorKit"/>
		<defaultViewConfigFileName value="viewconfig.xml"/>
		<protegeDefaultTab value="true"/>
   </extension>
</plugin>